In [44]:
# Tratamiento de datos
# ------------------------------------------------------------------------------
import numpy as np
import pandas as pd

# Gr√°ficos
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Modelado y evaluaci√≥n
# ------------------------------------------------------------------------------
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import GridSearchCV

# Configuraci√≥n warnings
# ------------------------------------------------------------------------------
import warnings
warnings.filterwarnings('once')
from scipy import stats
import math 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

Hemos elegido dos datasets sobre el top de influencers de instagram.

In [19]:
df= pd.read_csv('/mnt/c/Users/antoa/Desktop/ADALAB/ejercicios-de-adalab-pareja/DA-promo-B-Modulo3-sprint-2-Ari-Maria-Anto/datos/top_insta_influencers_data.csv')
df.reset_index(drop= True, inplace= True)
df.head()

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rank               200 non-null    int64
 1   channel_info       200 non-null    object
 2   influence_score    200 non-null    int64
 3   posts              200 non-null    object
 4   followers          200 non-null    object
 5   avg_likes          200 non-null    object
 6   60_day_eng_rate    200 non-null    object
 7   new_post_avg_like  200 non-null    object
 8   total_likes        200 non-null    object
 9   country            138 non-null    object
dtypes: int64(2), object(8)
memory usage: 15.8+ KB

In [4]:
df1= pd.read_csv('/mnt/c/Users/antoa/Desktop/ADALAB/ejercicios-de-adalab-pareja/DA-promo-B-Modulo3-sprint-2-Ari-Maria-Anto/datos/instagram_global_top_1000.csv')
df1.head()

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
1,All,2,kyliejenner,Kylie ü§ç,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,2022-02-07 16:50:24.798803
2,All,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,2022-02-07 16:50:24.798803
3,All,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0,2022-02-07 16:50:24.798803
4,All,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,2022-02-07 16:50:24.798803

Vamos a seleccionar varias columnas del primer datasets, para posteriormente unirlos.

In [17]:
df1= df1[['Account','Link', 'Category', 'Audience Country']]
df1.reset_index(drop= True, inplace= True)
df1.head()

,Account,Link,Category,Audience Country
0,cristiano,https://www.instagram.com/cristiano/,Sports with a ball,India
1,kyliejenner,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,United States
2,leomessi,https://www.instagram.com/leomessi/,Sports with a ball|Family,Argentina
3,kendalljenner,https://www.instagram.com/kendalljenner/,Modeling|Fashion,United States
4,selenagomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,United States

In [20]:
df_completo= df.merge(df1, left_on= 'channel_info', right_on = "Account")
df_completo.head()

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country,Account,Link,Category,Audience Country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain,cristiano,https://www.instagram.com/cristiano/,Sports with a ball,India
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States,kyliejenner,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN,leomessi,https://www.instagram.com/leomessi/,Sports with a ball|Family,Argentina
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States,selenagomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States,therock,https://www.instagram.com/therock/,Cinema|Actors/actresses|Fitness|Gym,India

In [21]:
df_completo.shape

(172, 14)

In [22]:
df_completo.isnull().sum()

rank                  0
channel_info          0
influence_score       0
posts                 0
followers             0
avg_likes             0
60_day_eng_rate       0
new_post_avg_like     0
total_likes           0
country              55
Account               0
Link                  0
Category              2
Audience Country      2
dtype: int64

In [23]:
df_completo.head(12)

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country,Account,Link,Category,Audience Country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain,cristiano,https://www.instagram.com/cristiano/,Sports with a ball,India
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States,kyliejenner,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN,leomessi,https://www.instagram.com/leomessi/,Sports with a ball|Family,Argentina
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States,selenagomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States,therock,https://www.instagram.com/therock/,Cinema|Actors/actresses|Fitness|Gym,India
5,6,kimkardashian,91,5.6k,329.2m,3.5m,0.88%,2.9m,19.9b,United States,kimkardashian,https://www.instagram.com/kimkardashian/,Fashion|Beauty,United States
6,7,arianagrande,92,5.0k,327.7m,3.7m,1.20%,3.9m,18.4b,United States,arianagrande,https://www.instagram.com/arianagrande/,Music,United States
7,8,beyonce,92,2.0k,272.8m,3.6m,0.76%,2.0m,7.4b,United States,beyonce,https://www.instagram.com/beyonce/,Music|Fashion,United States
8,9,khloekardashian,89,4.1k,268.3m,2.4m,0.35%,926.9k,9.8b,United States,khloekardashian,https://www.instagram.com/khloekardashian/,Clothing|Outfits|Lifestyle,United States
9,10,justinbieber,91,7.4k,254.5m,1.9m,0.59%,1.5m,13.9b,Canada,justinbieber,https://www.instagram.com/justinbieber/,Music,India
10,11,kendalljenner,90,0.66k,254.0m,5.5m,2.04%,5.1m,3.7b,United States,kendalljenner,https://www.instagram.com/kendalljenner/,Modeling|Fashion,United States
11,12,natgeo,91,10.0k,237.0m,302.2k,0.07%,159.3k,3.0b,United States,natgeo,https://www.instagram.com/natgeo/,Nature landscapes|Science|Photography,United States

In [9]:
df.isnull().sum()

rank                  0
channel_info          0
influence_score       0
posts                 0
followers             0
avg_likes             0
60_day_eng_rate       0
new_post_avg_like     0
total_likes           0
country              62
dtype: int64

In [27]:
df_completo.drop(['Account'], axis=1, inplace= True)

KeyError: "['Account'] not found in axis"

In [28]:
df_completo.head()

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country,Link,Category,Audience Country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain,https://www.instagram.com/cristiano/,Sports with a ball,India
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN,https://www.instagram.com/leomessi/,Sports with a ball|Family,Argentina
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States,https://www.instagram.com/selenagomez/,Music|Lifestyle,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States,https://www.instagram.com/therock/,Cinema|Actors/actresses|Fitness|Gym,India

In [29]:
df_completo.Category.unique()

array(['Sports with a ball', 'Fashion|Modeling|Beauty',
       'Sports with a ball|Family', 'Music|Lifestyle',
       'Cinema|Actors/actresses|Fitness|Gym', 'Fashion|Beauty', 'Music',
       'Music|Fashion', 'Clothing|Outfits|Lifestyle', 'Modeling|Fashion',
       'Nature  landscapes|Science|Photography',
       'Fitness|Gym|Shopping|Retail|Clothing|Outfits',
       'Music|Cinema|Actors/actresses', 'Lifestyle',
       'Cinema|Actors/actresses', 'Cinema|Actors/actresses|Fashion',
       'Music|Beauty', 'Shows|Cinema|Actors/actresses',
       'Science|Photography', 'Lifestyle|Music', 'Modeling|Lifestyle',
       'Family|Sports with a ball', 'Finance|Economics|Business|Careers',
       'Literature|Journalism|Cinema|Actors/actresses|Fashion', 'Beauty',
       'Cinema|Actors/actresses|Comics  sketches|Shows',
       'Cinema|Actors/actresses|Music', 'Shows', 'Humor|Fun|Happiness',
       'Modeling', 'Cinema|Actors/actresses|Family',
       'Cinema|Actors/actresses|Art|Artists',
       'Beauty|Cinema|Actors/actresses',
       'Cinema|Actors/actresses|Lifestyle',
       'Finance|Economics|Business|Careers|Family', 'Shows|Beauty|Family',
       nan, 'Lifestyle|Shows',
       'Accessories|Jewellery|Clothing|Outfits|Fashion',
       'Fashion|Clothing|Outfits|Accessories|Jewellery',
       'Finance|Economics', 'Food|Cooking', 'Lifestyle|Modeling',
       'Fitness|Gym', 'Nature  landscapes|Photography|Travel',
       'Modeling|Cinema|Actors/actresses',
       'Cinema|Actors/actresses|Shows',
       'Cinema|Actors/actresses|Music|Shows',
       'Cinema|Actors/actresses|Modeling|Clothing|Outfits',
       'Lifestyle|Fashion|Clothing|Outfits', 'Shows|Modeling',
       'Music|Art|Artists', 'Cinema|Actors/actresses|Comics  sketches',
       'Cars|Motorbikes|Luxury', 'Sports with a ball|Lifestyle',
       'Cinema|Actors/actresses|Lifestyle|Fashion',
       'Clothing|Outfits|Shopping|Retail', 'Beauty|Family|Lifestyle',
       'Cars|Motorbikes', 'Fashion|Modeling'], dtype=object)

In [41]:
len(df_completo.Category.unique())

60

In [37]:
df2= df_completo.assign(Category=df_completo.Category.str.split("|")).explode('Category')

In [40]:
df2.head(10)

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country,Link,Category,Audience Country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain,https://www.instagram.com/cristiano/,Sports with a ball,India
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States,https://www.instagram.com/kyliejenner/,Fashion,United States
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States,https://www.instagram.com/kyliejenner/,Modeling,United States
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States,https://www.instagram.com/kyliejenner/,Beauty,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN,https://www.instagram.com/leomessi/,Sports with a ball,Argentina
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN,https://www.instagram.com/leomessi/,Family,Argentina
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States,https://www.instagram.com/selenagomez/,Music,United States
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States,https://www.instagram.com/selenagomez/,Lifestyle,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States,https://www.instagram.com/therock/,Cinema,India
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States,https://www.instagram.com/therock/,Actors/actresses,India

In [39]:
df2.Category.unique()

array(['Sports with a ball', 'Fashion', 'Modeling', 'Beauty', 'Family',
       'Music', 'Lifestyle', 'Cinema', 'Actors/actresses', 'Fitness',
       'Gym', 'Clothing', 'Outfits', 'Nature  landscapes', 'Science',
       'Photography', 'Shopping', 'Retail', 'Shows', 'Finance',
       'Economics', 'Business', 'Careers', 'Literature', 'Journalism',
       'Comics  sketches', 'Humor', 'Fun', 'Happiness', 'Art', 'Artists',
       nan, 'Accessories', 'Jewellery', 'Food', 'Cooking', 'Travel',
       'Cars', 'Motorbikes', 'Luxury'], dtype=object)

In [68]:
df2.to_csv('datos/categorias_instagram.csv')

In [49]:
df3= df2.Category.value_counts().reset_index()
df3.head()

                index  Category
0               Music        52
1              Cinema        52
2    Actors/actresses        52
3  Sports with a ball        32
4           Lifestyle        14

In [ ]:
astype('float64')

In [81]:
df_completo['posts', 'followers', 'avg_likes', 'new_post_avg_like', 'total_likes'].strip(['m', 'b', 'k'])

KeyError: ('posts', 'followers', 'avg_likes', 'new_post_avg_like', 'total_likes')

In [85]:
df_completo.apply(df_completo['posts'].replace('k', ''))

KeyError: 'Column(s) [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171] do not exist'